@page
@model IndexModel
@{
    ViewData["Title"] = "Home | DLCS User Documentation";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a placeholder Razor pages application that will eventually be replaced by the user documentation at 
        <a href="https://dlcs.gitbooks.io/book/content/">dlcs.gitbooks.io/book/content/</a>.</p>
</div>
